.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.row {
  /* margin-left: 0 !important;
  margin-right: 0 !important; */
}