<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Education</b>Arclight</a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Set new password for your account</p>
  
        <form action="recover-password.html" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="OTP" name="otp"  [value]="emailOrPhone" disabled>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <span id="otpError" class="text-danger d-none">* Required</span>
            <div class="input-group mb-3" id="otp">
              <input type="password" class="form-control" placeholder="OTP" name="otp" [(ngModel)]="otp">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <span id="passwordError" class="text-danger d-none">* Required</span>
          <div class="input-group mb-3" id="password">
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <span id="retypePasswordError" class="text-danger d-none">* Required</span>
          <div class="input-group mb-3" id="retypePassword">
            <input type="password" class="form-control" placeholder="Re enter Password" name="retypePassword" [(ngModel)]="retypePassword">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" (click)='resetPassword()'>Submit</button>
            </div>
          </div>
        </form>
  
        <p class="mt-3 mb-1">
          <a [routerLink]="['/login']">I already have a membership</a>
        </p>
        <p class="mb-0">
          <a [routerLink]="['/register']" class="text-center">Register a new membership</a>
        </p>
      </div>
    </div>
  </div>