.card-body {
    overflow-y: auto;
    height: 480px;
}

.card-header::after, .card-body::after, .card-footer::after {
    display: none !important;
}

/* .card .card-header .dropdown .dropdown-menu {
    position: absolute; 
    will-change: transform; 
    top: 0px; 
    left: 0px; 
    transform: translate3d(-168px, 19px, 0px) !important;
} */
.dropdown .dropdown-menu .dropdown-header {
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3a3b45;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #2e2f37 !important;
    text-decoration: none !important;
    background-color: #f8f9fc;
}
a:hover {
    color: #003be5;
    text-decoration: none;
}
.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #858796;
    white-space: nowrap;
    text-align: left;
}
/* .dropdown-toggle {
    white-space: nowrap;
} */

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
  }
  /* .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
  }

.text-gray-400 {
    color: #d1d3e2 !important;
} */