<div class="d-flex container h-100 p-5 justify-content-center">
    <div class="card w-50">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Set new password for your account</p>

            <form action="recover-password.html" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="OTP" name="otp" [value]="emailOrPhone"
                        disabled>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span id="oldPasswordError" class="text-danger d-none">* Required</span>
                <div class="input-group mb-3" id="oldPassword">
                    <input type="password" class="form-control" placeholder="Existing Password" name="oldPassword"
                        [(ngModel)]="oldPassword">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span id="passwordError" class="text-danger d-none">* Required</span>
                <div class="input-group mb-3" id="password">
                    <input type="password" class="form-control" placeholder="Password" name="password"
                        [(ngModel)]="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span id="retypePasswordError" class="text-danger d-none">* Required</span>
                <div class="input-group mb-3" id="retypePassword">
                    <input type="password" class="form-control" placeholder="Re enter Password" name="retypePassword"
                        [(ngModel)]="retypePassword">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block"
                            (click)='changePassword()'>Change Password</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>