<div [hidden]="!loaded">
<div class="container-fluid" [hidden]="hideExam">
  <div class="row">
    <div class="col-7">
      <div class="">
        <div class="">
          <div class="">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0"
              data-wrap="false" data-touch="false">
              <div class="carousel-inner">
              </div>
              <div class="card-footer" id="ques-buttons">
                <div class="row">
                  <div class="mt-1"><button type="button" class="btn btn-success mx-2"
                      [disabled]="buttons.saveAndNextDisabled" (click)="saveAndNext()">SAVE & NEXT</button></div>
                  <div class="mt-1"><button type="button" class="btn btn-warning mx-2"
                      [disabled]="buttons.saveAndMarkForReviewDisabled" (click)="saveAndMarkForReview()">SAVE & MARK FOR
                      REVIEW</button></div>
                  <div class="mt-1"><button type="button" class="btn btn-secondary mx-2"
                      [disabled]="buttons.clearResponseDisabled" (click)="clearResponse()">CLEAR RESPONSE</button></div>
                  <div class="mt-1"><button type="button" class="btn btn-primary mx-2"
                      (click)=markForReviewAndNext()>MARK FOR REVIEW & NEXT</button></div>
                  <div class="mt-1"><button type="button" class="btn btn-danger mx-2" (click)="submit()">SUBMIT</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 d-flex justify-content-center">
      <div class="">
        <div class="card mt-2">
          <button type="button" class="btn btn-primary" disabled id="time-button">
            Time left : <span class="badge badge-light">{{timeLeft*1000|date:'HH:mm:ss':'UTC'}}</span>
          </button>
        </div>
        <div class="card mt-2">
          <table class="table table-borderless">
            <tbody class="text-black-50">
              <tr class="row mx-0">
                <td class="col-6 justify-content-left"><a
                    class="que-not-visited test-ques-stats">{{ buttons.notVisited }}</a>Not Visited</td>
                <td class="col-6 justify-content-left"><a
                    class="que-not-answered test-ques-stats">{{ buttons.notAnswered }}</a>Not Answered
                </td>
              </tr>
              <tr class="row mx-0">
                <td class="col-6 justify-content-left"><a
                    class="test-ques-stats que-saved">{{ buttons.answered }}</a>Answered</td>
                <td class="col-6 justify-content-left"><a
                    class="test-ques-stats que-marked-for-review">{{ buttons.markedForReview }}</a>Marked for
                  Review</td>
              </tr>
              <tr class="row mx-0">
                <td class=""><a
                    class="test-ques-stats que-saved-marked-for-review">{{ buttons.answeredAndMarkedForReview }}</a>Answered
                  & Marked for Review
                  (will be considered for evaluation)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body mt-2 p-0 pagination-container">
          <ul class="pagination" id="pagination">
          </ul>
        </div>
        <div class="card mt-5" [hidden]="true">
          <div class="col-container">
            <div class="col  align-middle" style="background-color: #bfc8c8;">Not Attempted</div>
            <div class="col  align-middle" style="background-color: rgb(238, 196, 159)">Not Answered</div>
          </div>
          <div class="col-container">
            <div class="col  align-middle" style="background-color: rgb(159, 227, 238);">Answered</div>
            <div class="col  align-middle" style="background-color: #bb5c07;">Current Question</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="!hideExam" class="container-fluid">
  <div class="mt-3">
    <div class=""><button (click)="backToExam()" class="btn btn-primary">Take another exam</button></div>
  </div>
  <div class="card mt-3">
    <div class="card-header">Response</div>
    <div class="card-body">
      <div class="row text-black-50">
        <div class="col-6">
          <div class="row">
            <div class="col-6 text-right">No. of questions:</div>
            <div class="col-6"><b>{{ response.noOfQuestions }}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-right">Total marks:</div>
            <div class="col-6"><b>{{ response.totalMarks }}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-right">Questions attempted:</div>
            <div class="col-6"><b>{{ response.questionsAttempted }}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-right">Questions not attempted:</div>
            <div class="col-6"><b>{{ response.questionsNotAttempted }}</b></div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6 text-right">Correct answers:</div>
            <div class="col-6"><b>{{ response.correctAnswers }}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-right">Incorrect answers:</div>
            <div class="col-6"><b>{{ response.questionsAttempted - response.correctAnswers }}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-right">Correct marks:</div>
            <div class="col-6"><b>{{ response.correctMarks }}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-right">Incorrect marks:</div>
            <div class="col-6"><b>{{ response.negativeMarks }}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-right">Total marks:</div>
            <div class="col-6"><b>{{ response.marksObtained }}</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body" id="response-container"></div>
  </div>
</div>
</div>
<div [hidden]="loaded"></div>
<div class="modal fade" id="submitConfirmationModal" tabindex="-1" role="dialog"
  aria-labelledby="submitConfirmationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submitConfirmationModalTitle">Please confirm !!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have selected answer for this question but not saved. Please click on cancel to save this question or click on continue to ignore.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="finalSubmit()">Continue</button>
      </div>
    </div>
  </div>
</div>